@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    }

.body {
    background-color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.conteudoinicio {
    background-image: url(img-font/fundos/fundo-azul-inicio.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 5%;
    transition: .5s;
}

.conteudoinicio.dark {
    background-color: #2B2B2B;
    background-image: url(img-font/fundos/fundo-inicio-dark.png);
}

.conteudoinicio.dark h1 {
    transition: .5s;
    color: white;
}

.conteudoinicio.dark h2 {
    transition: .5s;
    color: white;
}

li, a {
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: italic;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 10%;
    background-color: white;
}

.menu-hamburguer {
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}


.menu-hamburguer span {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}



.button-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8%;
}

.trilho{
    width: 7vh;
    height: 2.99vh;
    border-radius: 150px;
    background-color: blue;
    position: relative;
}

.trilho .indicador{
    width:  3vh;
    height: 2.99vh;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(.9);
    position: absolute;
    left: 0.11vh;
    transition: .5s;
}

.trilho.dark {
    background-color: gray;
}

.trilho.dark .indicador {
    left: 2.1vh;
    background-color: black;
}

.links-nav li a {
    transition: all 0.3s ease 0s;
}

.links-nav li a:hover {
    filter: brightness(1.1);
    color: #0A6ADB;
}

.efeito-texto-inicio {
    visibility: hidden;
}

.textocentralinicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desenhoinicio {
    margin-left: auto;
    align-items: center;
    transition: .5s;
}

.desenhoinicio.dark {
    transition: .5s;
    content: url(img-font/logos/desenhoiniciodark.png);
}

.sociais-logos {
    display: flex;
    flex-direction: row;
}

.sociais-logos button, a {
    background: none;
    border: none;
}

.sociais-logos img {
    transition: transform 0.3s ease;
}

.sociais-logos img:hover {
    transform: scale(1.05);
    transform: translateY(-6px);
}

.textocentralinicio h2 {
    font-size: 5vh;
    font-weight: normal;
    font-style: italic;
    line-height: 5px;
}

.textocentralinicio h1 {
    font-size: 10vh;
    font-weight: bold;
}



.conteudosobre {
    background-image: url(img-font/fundos/fundo-sobremim.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 8%;
    gap: 3px;
    transition: .5s;

}

.conteudosobre.dark {
    background-image: url(img-font/fundos/fundosobredark.png);
}

.conteudosobre img {
    visibility: hidden;
}

.efeito-txt-sobre {
    visibility: hidden;
}

.textosobremim {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.conteudosobre img {
    width: 50vh;
}

.conteudosobre h1 {
    font-size: 60px;
    font-weight: bold;
}

.conteudosobre p {
    max-width: 60vh;
    font-size: 30px;
    font-weight: 300;
}


.conteudohabilidades {
    background-image: url(img-font/fundos/fundo-habilidades.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;    
    align-items: center;
    transition: .5s;

}

.conteudohabilidades.dark {
    background-image: url(img-font/fundos/fundoshabilidadesdark.png);
}

.efeito-txt-habilidades, .efeito-icones-habilidades {
    visibility: hidden;
}

.texto-habilidades {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    color: white;
}

.texto-habilidades h1 {
    font-size: 3.75rem;
    font-weight: bold;
}

.texto-habilidades h2 {
    font-size: 1.85rem;
    font-weight: 300;
}

.icones-habilidades {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 100px;
}

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
    transition: transform 0.3s ease;
}

.skills img {
    transition: transform 0.3s ease;
}

.skills:hover img {
    filter: drop-shadow(2px 8px 10px rgba(0,0,0,0.5));
}

.skills:hover {
    transform: translateY(-6px);
}

.skills figcaption {
    margin-top: 10px;
    padding: 6px 18px;
    background: linear-gradient(135deg, #1e90ff, #0a66d8);
    color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.skills:hover figcaption {
    opacity: 1;
    transform: scale(1.05);
    filter: brightness(1.1);
}

.conteudoprojetos {
    background-image: url(img-font/fundos/fundo-projetos.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    transition: .5s;

}

.conteudoprojetos.dark {
    background-image: url(img-font/fundos/fundosprojetosdark.png);
}

.efeito-txt-projetos, .card1, .card2 {
    visibility: hidden;
}

.texto-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.texto-projetos h1 {
    font-size: 60px;
    color: white;
}

.bloco-proj {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 50px;
    padding: 50px 80px;
}

.card-projeto {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
    color: white;
    border-radius: 20px;
    padding: 25px;
    transition: transform 0.3s ease;
}

.card-projeto:hover {
    transform: translateY(-5px);
}

.img-proj {
    width: 100%;
    margin-bottom: 10px; 
}

.card-projeto h2 {
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 12px;
}

.card-projeto p {
    font-size: 18px;
    margin-bottom: 14px;
    line-height: 1.2;
}

.tecnologias {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.tecnologias img {
    width: 30px;
}

.btn-github {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.btn-github:hover {
    background-color: black;
    transform: scale(1.1);
}

.rodape {
    background-image: url(img-font/fundos/fundo-rodape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    transition: .5s;

}

.rodape.dark {
    background-image: url(img-font/fundos/fundorodapedark.png);
}

.rodape img {
    width: 100px;
}

.links-rodape a, li{
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline-block;
    padding:  10px;
    transition: transform 0.3s ease;
}

.links-rodape a:hover {
    filter: brightness(1.1);
    color: black;
}

@media (max-width:768px) {

    header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
    }

.trilho{
    width: 10vh;
    height: 5vh;
}

.trilho .indicador{
    width:  5vh;
    height: 5vh;
}

.trilho.dark .indicador {
   left: 2.65vh;
}

    .nav-header {
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: white;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.nav-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-header.active {
    max-height: 200px;
}

    .menu-hamburguer {
        display: block;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    }

    .menu-hamburguer.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-hamburguer.active span:nth-child(2) {
    opacity: 0;
}

.menu-hamburguer.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

    .nav-header.active {
        display: block;
    }

    .links-nav{
        display: flex;
        flex-direction: row;
    }
    
    .links-nav li, a {
        font-size: 1.33rem;
    }

    .logo-arthur-dev {
        width: 120px;
        margin-top: 8px;       
    }

    .botao-alterar-tema {
        display: none;
    }

    .conteudoinicio {
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }    

    .desenhoinicio {
        display: none;
    }

    .conteudosobre {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }

    .conteudosobre img {
        margin: 50px;
    width: 30vh;
}

    .textosobremim {
    margin: 50px 5px;
    color: white;
    gap: 10px;
    }

    .conteudosobre h1 {
        font-size: 3.2rem;
    font-weight: bold;
    }

    .conteudosobre p {
    font-size: 1.5rem;
    }
    
    .conteudohabilidades {
        padding: 5%;
    }

    .texto-habilidades h1 {
        font-size: 3.2rem;
    }

     .texto-habilidades {
        text-align: center;
    }

    .texto-habilidades h2 {
        font-size: clamp(1.22rem, 4vw, 1.4rem);
        line-height: 1;
        max-width: 80%;
    }

    .icones-habilidades {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 80px;
    }

    .conteudoprojetos {
        
        min-height: 100dvh;
    }

    .conteudoprojetos h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    }

    .card-projeto {
        padding: 30px 40px;
    }

.img-proj {
    width: 35vh;    
}

    .bloco-proj {
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 50px;
    padding: 30px 0px;
    }

    .rodape {
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
    } 

    .rodape img {
    width: 120px;
    }

    .links-rodape ul{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .links-rodape a, li {
        font-size: 1.3rem;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .links-nav{
        display: flex;
        flex-direction: row;
    }
    
    .links-nav li, a {
        font-size: 1.5rem;
    }

    .logo-arthur-dev {
        width: 150px;
        margin-top: 8px;       
    }

    .botao-alterar-tema {
        display: none;
    }

    .desenho-inicio {
        display: none;
    }

     .conteudo-inicio {
        background-size: cover;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }    

        .conteudo-sobre {
        background: none;
        background-color: #4193F4;
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }

    .conteudo-sobre img {
        margin: 50px;
        width: 32vh;
}

    .texto-sobremim {
    margin: 50px 5px;
    color: white;
    gap: 10px;
    }

    .conteudo-sobre h1 {
        font-size: 3.5rem;
    font-weight: bold;
    }

    .conteudo-sobre p {
    font-size: 2.2em;
    }

     .conteudo-habilidades {
        background-image: none;
        background-color: #4193F4;
        padding: 15%;
    }

    .texto-habilidades h1 {
        font-size: 3.5rem;
    }

     .texto-habilidades {
        text-align: center;
    }

    .texto-habilidades h2 {
        font-size: 2rem;
        line-height: 1;
    }

    .icones-habilidades {
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 80px;
    }

     .conteudo-projetos {
        background-image: none;
        background-color: #4193F4;
        min-height: 100dvh;
    }

    .conteudo-projetos h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    }

    .bloco-proj {
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 50px;
    padding: 30px 0px;
    }

    .card-projeto h2 {
        font-size: 1.75rem;
    }

    .card-projeto p {
        font-size: 1.2rem;
    }

    .rodape {
        background: none;
        background-color: #4193F4;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
    } 

    .rodape img {
    width: 150px;
    }

    .links-rodape ul{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .links-rodape a, li {
        font-size: 1.55rem;
    }
}