@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    }

.body {
    background-color: white;
}

body::-webkit-scrollbar {
  display: none;
}

.conteudo-inicio {
    background-image: url(/img-font/fundos/fundo-azul-inicio.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
     display: flex;
    align-items: center;
    padding: 150px 5%;
}


li, a {
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5% ;
    background-color: white;
}

.button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: auto 60px;
}

.button label {
    width: 50px;
    height: 25px;
    position: relative;
    display: block;
    background-color: #1278F1;
    border-radius: 200px;
    box-shadow:inset 0px 5px 15px rgba(0,0,0,0.4), 
                inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button label:hover {
    transform: scale(1.05)
}

.button label:after{
    content: "";
    width: 22px;
    height: 20px;
    position: absolute;
    top: 2.5px;
    left: 2px;
    background: linear-gradient(180deg, white, #4193F4);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.button input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.button input:checked + label {
    background: #4b44e2;
}

.button input:checked + label:after {
    left: 48px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #2B2B2B, #4b44e2);
}

.button label:active::after {
    width: 28px;
}

.links-nav {
    list-style: none;
}

.links-nav li {
    display: inline-block;
    padding: 0px 15px;
}

.links-nav li a {
    transition: all 0.3s ease 0s;
}

.links-nav li a:hover {
    filter: brightness(1.1);
    color: #0A6ADB;
}

.texto-central-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desenho-inicio {
    margin-left: auto;
    align-items: center;
}

.sociais-logos img {
    transition: transform 0.3s ease;
}

.sociais-logos img:hover {
    transform: scale(1.05);
    transform: translateY(-6px);
}

.texto-central-inicio h2 {
    font-size: 5vh;
    font-weight: normal;
    font-style: italic;
    line-height: 5px;
}

.texto-central-inicio h1 {
    font-size: 10vh;
    font-weight: bold;
}

.conteudo-sobre {
    background-image: url(/img-font/fundos/fundo-sobremim.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 8%;
    gap: 3px;
}

.texto-sobremim {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.conteudo-sobre img {
    width: 50vh;
}

.conteudo-sobre h1 {
    font-size: 60px;
    font-weight: bold;
}

.conteudo-sobre p {
    max-width: 60vh;
    font-size: 30px;
    font-weight: 300;
}

.conteudo-habilidades {
    background-image: url(/img-font/fundos/fundo-habilidades.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;    
    justify-content:start;
    align-items: center;
}

.texto-habilidades {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    color: white;
}

.texto-habilidades h1 {
    font-size: 60px;
    font-weight: bold;
}

.texto-habilidades h2 {
    font-size: 30px;
    font-weight: 300;
}

.icones-habilidades {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 100px;
}

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
    transition: transform 0.3s ease;
}

.skills img {
    transition: transform 0.3s ease;
}

.skills:hover img {
    filter: drop-shadow(2px 8px 10px rgba(0,0,0,0.5));
}

.skills:hover {
    transform: translateY(-6px);
}

.skills figcaption {
    margin-top: 10px;
    padding: 6px 18px;
    background: linear-gradient(135deg, #1e90ff, #0a66d8);
    color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.skills:hover figcaption {
    opacity: 1;
    transform: scale(1.05);
    filter: brightness(1.1);
}

.conteudo-projetos {
    background-image: url(/img-font/fundos/fundo-projetos.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.texto-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.texto-projetos h1 {
    font-size: 60px;
    color: white;
}

.bloco-proj {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 50px;
    padding: 50px 80px;
}

.card-projeto {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
    color: white;
    border-radius: 20px;
    padding: 25px;
    transition: transform 0.3s ease;
}

.card-projeto:hover {
    transform: translateY(-5px);
}

.img-proj {
    width: 100%;
    margin-bottom: 10px; 
}

.card-projeto h2 {
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 12px;
}

.card-projeto p {
    font-size: 18px;
    margin-bottom: 14px;
    line-height: 1.2;
}

.tecnologias {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.tecnologias img {
    width: 30px;
}

.btn-github {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.btn-github:hover {
    background-color: black;
    transform: scale(1.1);
}

.rodape {
    background-image: url(/img-font/fundos/fundo-rodape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.rodape img {
    width: 100px;
}

.links-rodape a, li{
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline-block;
    padding:  10px;
    transition: transform 0.3s ease;
}

.links-rodape a:hover {
    filter: brightness(1.1);
    color: black;
}